# This source file is subject to the (Open Source Initiative) BSD license
# that is bundled with this package in the LICENSE file. It is also available
# through the world-wide-web at this URL: http://www.ontic.com.au/license.html
# If you did not receive a copy of the license and are unable to obtain it through
# the world-wide-web, please send an email to license@ontic.com.au immediately.
# Copyright (c) 2010-2016 Ontic. (http://www.ontic.com.au). All rights reserved.

---

- name: Nginx | Ensure the vhost directory exists.
  become: yes
  file:
    path: '{{ nginx_vhost_path }}'
    state: directory
    owner: root
    group: root
    mode: 0755
  tags:
    - configure
    - nginx

- name: Nginx | Ensure the default vhost exists in the vhost path.
  become: yes
  command: 'mv {{ nginx_conf_path }}/default.conf {{ nginx_vhost_path | quote }}/default'
  args:
    creates: '{{ nginx_vhost_path }}/default'
    removes: '{{ nginx_conf_path }}/default.conf'
  when: nginx_conf_path != nginx_vhost_path
  tags:
    - configure
    - nginx

- name: Nginx | Configure mime types file.
  become: yes
  template:
    src: '{{ nginx_mime_types_template }}'
    dest: '{{ nginx_dir }}/mime.types'
    owner: root
    group: root
    mode: 0644
  when: nginx_mime_types_template | default(None) != None
  tags:
    - configure
    - nginx

- name: Nginx | Configure present server files.
  become: yes
  template:
    src: '{{ item.template }}'
    dest: '{{ nginx_vhost_path }}/{{ item.filename }}'
    owner: root
    group: root
    mode: 0644
  notify: restart nginx
  with_items: '{{ nginx_server_templates }}'
  when: item.state | default('present') != 'absent'
  tags:
    - configure
    - nginx

- name: Nginx | Configure absent server files.
  become: yes
  file:
    path: '{{ nginx_vhost_path }}/{{ item.filename }}'
    state: absent
  notify: restart nginx
  with_items: '{{ nginx_server_templates }}'
  when: item.state | default('present') == 'absent'
  tags:
    - configure
    - nginx

- name: Nginx | Configure Nginx conf file.
  become: yes
  template:
    src: '{{ nginx_conf_template }}'
    dest: '{{ nginx_dir }}/nginx.conf'
    owner: root
    group: root
    mode: 0644
  when: nginx_conf_template | default(None) != None
  notify: restart nginx
  tags:
    - configure
    - nginx