# This source file is subject to the (Open Source Initiative) BSD license
# that is bundled with this package in the LICENSE file. It is also available
# through the world-wide-web at this URL: http://www.ontic.com.au/license.html
# If you did not receive a copy of the license and are unable to obtain it through
# the world-wide-web, please send an email to license@ontic.com.au immediately.
# Copyright (c) 2010-2016 Ontic. (http://www.ontic.com.au). All rights reserved.

---

- name: Nginx | Include OS-specific variables.
  include_vars: '{{ ansible_os_family }}.yml'
  tags:
    - nginx
    - nginx-package
    - nginx-configure
    - nginx-service
    - package
    - configure
    - service

- name: Nginx | Define Nginx packages.
  set_fact:
    nginx_packages: '{{ nginx_default_packages | list }}'
  when: not nginx_packages
  tags:
    - nginx
    - nginx-package
    - nginx-configure
    - nginx-service
    - package
    - configure
    - service

- include: package.yml
  tags:
    - nginx
    - nginx-package
    - package

- include: configure.yml
  tags:
    - nginx
    - nginx-configure
    - configure

- include: service.yml
  tags:
    - nginx
    - nginx-service
    - service