# Copyright (c) Ontic. (http://www.ontic.com.au). All rights reserved.
# See the COPYING file bundled with this package for license details.

---

- name: 'Nginx | Include OS-specific variables.'
  include_vars: '{{ ansible_os_family }}.yml'
  tags:
    - 'nginx'
    - 'nginx-package'
    - 'nginx-configure'
    - 'nginx-service'
    - 'package'
    - 'configure'
    - 'service'

- name: 'Nginx | Define Nginx packages.'
  set_fact:
    nginx_packages: '{{ nginx_default_packages }}'
  when: 'not nginx_packages'
  tags:
    - 'nginx'
    - 'nginx-package'
    - 'nginx-configure'
    - 'nginx-service'
    - 'package'
    - 'configure'
    - 'service'

- name: 'Nginx | Define Nginx ssl path.'
  set_fact:
    nginx_ssl_path: '{{ nginx_dir }}/ssl'
  tags:
    - 'nginx'
    - 'nginx-package'
    - 'nginx-configure'
    - 'nginx-service'
    - 'package'
    - 'configure'
    - 'service'

- name: 'Nginx | Define Nginx snippets path.'
  set_fact:
    nginx_snippets_path: '{{ nginx_dir }}/snippets'
  tags:
    - 'nginx'
    - 'nginx-package'
    - 'nginx-configure'
    - 'nginx-service'
    - 'package'
    - 'configure'
    - 'service'

- include_tasks: 'package.yml'
  tags:
    - 'nginx'
    - 'nginx-package'
    - 'package'

- include_tasks: 'configure.yml'
  tags:
    - 'nginx'
    - 'nginx-configure'
    - 'configure'

- include_tasks: 'service.yml'
  tags:
    - 'nginx'
    - 'nginx-service'
    - 'service'