# {{ ansible_managed }}

[{{ nginx_repo_uid }}]
name = {{ nginx_repo_name }}
baseurl = {{ nginx_repo_baseurl }}
gpgkey = {{ nginx_repo_gpgkey }}
gpgcheck = {{ nginx_repo_gpgcheck }}
enabled = {{ nginx_repo_enabled }}